body {
  background-color: #F6DFEB;
}

.seasonDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  columns: 2;
}
.ui.segment{
    border-radius: 30px;
}
.ui.segment.right{
  /* display: flex; 
  flex-direction: column;  */
  background-color: #CAF7E3;
}
.ui.container{
width: 75%;
background-color: #F8EDED;

}
.ui.text.container{
    max-width: 97% !important;
}
.column.right.weather.div.only{
  width: 30%;
  height: 85%;
  padding-right: 3px;
  display: flex; /*added*/
  flex-direction: column;
}
.column.left.weather.div.details{
  width: 70%;
  padding-left: 3px;
}
.ui.input.SearchCity{
  background: #CAF7E3;
  border: 0px;
}
i.sun.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  margin: auto;
  font-size: 11em;
  color: #FFBE0F;
}
.temparature{
  display: inline-block;
}
.temparature.degree{
  font-size: 7em;}
  .temparature.unit{
    font-size: 3em;
position: relative;
bottom:  39px;
}
.TimeAndDate{
  font: small-caps bold 1.4em cursive;;
  text-align: center;
}
/* .right{
  width: 35%;
} */