body {
  background-color: #F6DFEB;
}

.seasonDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  columns: 2;
}
.ui.segment{
    border-radius: 30px;
}
.ui.segment.right{
  /* display: flex; 
  flex-direction: column;  */
  background-color: #CAF7E3;
}
.ui.container{
width: 122vh;
background-color: #F8EDED;

}
.ui.text.container{
    max-width: 97% !important;
}
.column.right.weather.div.only{
  width: 30%;
  height: 85%;
  padding-right: 3px;
  display: flex; /*added*/
  flex-direction: column;
}
.column.left.weather.div.details{
  width: 70%;
  padding-left: 3px;
}
.ui.input.SearchCity{
  background-color: #CAF7E3;
  border: 0px;
}

i.sun.icon{
  display: block;
  margin: auto;
  margin-bottom: 50px;
  font-size: 7em; 
  color: #FFBE0F;
 }

.temparature{
  display: inline-block;
}
.temparature.degree{
  font-size: 7em;}
  .temparature.unit{
    font-size: 3em;
position: relative;
bottom:  39px;
}
.TimeAndDate{
  font: bold 1.4em Lato;
  text-align: center;
}
.ui.input > input {
  background-color: #CAF7E3 !important;
  font-size: 1.2em;
}
@media only screen and (max-width: 767px) {
  .ui.container{
    margin-left: 0!important;
    margin-right: 0!important;
  }
  .ui.text.container {
     max-width: 100% !important;
     padding: 0%;
     border: 0px; 
}
 .seasonDisplay{
   margin-top: 0%;
 }
 .ui.segment{
   border-radius: 0%;
 }
 .ui.segment.right{
  border-radius: 0 0 80px 80px;
 }
}
